h1 {
  margin: 0;
  a.brand-logo {
    width: max-content;
  }
}

nav .brand-logo,
.gutter {
  padding-left: .75rem;
  padding-right: .75rem;
}

.user-view {
  &::before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, #0000, #0009);
  }
  .background {
    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .circle {
    object-fit: cover;
  }
  a {
    position: relative;
  }
}

.hero {
  height: clamp(30em, 90vh, 60em);
  background: linear-gradient(to bottom, #0000, #0009), url('https://placedog.net/1920/1080?random') center / cover no-repeat;
  margin-bottom: 1.5rem;
  .container {
    padding: 0 .75rem;
  }
}

section {
  padding: 3rem 0;
}

.card {
  h3.card-title {
    margin: 0;
  }
  .card-action {
    a {
      display: inline-block;
    }
  }
}


.col img {
  max-width: 100%;
}

.page-footer {
  .contact-info {
    li {
      margin-bottom: 1rem;
    }
    a {
      display: inline-block;
    }
  }
}